body {
	color: #4c4f69;
	background-color: #eff1f5

}


h1 {
	text-align: center;
	color: #4c4f69
}
h2 {
	color: #5c5f77
}
h3 {
	color: #5c5f77
}
a{
	text-indent:0px;
}
a:link {
  color: #1e66f5;
}

/* visited link */
a:visited {
  color: #8839ef;
}

p {
   	text-indent:50px;
	text-align: start;
	color: #4c4f69
}
div {
	text-align: center;
	color: #4c4f69
}
.textOverPicture {
	text-shadow: 2px 1px 2px white;
}

body {
}
